
@{
    ViewBag.Title = "Comfirm";
    Layout = null;
}

<h2>THÔNG TIN THÀNH VIÊN ĐÃ ĐĂNG KÝ</h2>
<ul>
    <li>MÃ NHÂN VIÊN : @ViewBag.EmpID</li>
    <li>HỌ TÊN : @ViewData["Name"]</li>
    <li>ngày sinh: @ViewBag.BirthOfDate</li>
    <li>Email : @ViewData["Email"]</li>
    <li>Mật khẩu : @ViewBag.Password</li>
    <li>Phòng ban : @ViewBag.Department</li>
    <li>Ảnh đại diện : @ViewData["Avatar"]</li>

</ul>



